@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Source Sans 3", "Segoe UI", sans-serif;
}

.dark {
  color-scheme: dark;
}

body {
  margin: 0;
}
